@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  font-family: 'EB Garamond', serif;
  margin: 0;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react-calendar-heatmap .color-scale-0 { fill: #dde9a1; }
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }