@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  background-color: #fcf9f9;
}

.App {
  text-align: center;
  background-color: #fcf9f9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-calendar-heatmap .color-scale-1 { fill: #67ff49; }
.react-calendar-heatmap .color-scale-2 { fill: #28c45c; }
.react-calendar-heatmap .color-scale-3 { fill: #0d6836; }

.react-calendar-heatmap .color-scale-4 { fill: #49b6ff; }
.react-calendar-heatmap .color-scale-5 { fill: #286cc4; }
.react-calendar-heatmap .color-scale-6 { fill: #104a81; }